{% extends basehtml %}

{% block head %}
    <Title>Horarios</Title>
{% endblock %}
{% block body %}
    <h1>Actualizar horarios de atención</h1>
    <br>
    <div class="row">
    <div class="col-sm-4">{{ form1.as_p }}</div>
    <div class="col-sm-4">{{ form2.as_p }}</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 text-center">

        </div>
        <div class="col-md-3 text-center">
            <button class="btn btn-info" element onclick="GuardarHorario()">Guardar</button>
            <a href='/register/home' class="btn btn-danger">Cancelar</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
        <script>
        exists = false;
        $.ajax({  //Call ajax function sending the option loaded
                url: "search_ajax/",  //This is the url of the ajax view where you make the search
                type: 'POST',
                dataType: "json",
                data: {
                    usuario: {{ usuario }},
                    tag: "gethorario"
                },
                success: function (response) {
                    doc_horario = response[0];
                    if(doc_horario != null) {
                        exists = true;

                        $('#id_Lunes_Inicio').val(doc_horario[0].substr(0,doc_horario[0].indexOf('-')));
                        $('#id_Lunes_Fin').val(doc_horario[0].substr(doc_horario[0].indexOf('-')+1, doc_horario[0].length));
                        $('#id_Martes_Inicio').val(doc_horario[1].substr(0,doc_horario[1].indexOf('-')));
                        $('#id_Martes_Fin').val(doc_horario[1].substr(doc_horario[1].indexOf('-')+1, doc_horario[1].length));
                        $('#id_Miercoles_Inicio').val(doc_horario[2].substr(0,doc_horario[2].indexOf('-')));
                        $('#id_Miercoles_Fin').val(doc_horario[2].substr(doc_horario[2].indexOf('-')+1, doc_horario[2].length));
                        $('#id_Jueves_Inicio').val(doc_horario[3].substr(0,doc_horario[3].indexOf('-')));
                        $('#id_Jueves_Fin').val(doc_horario[3].substr(doc_horario[3].indexOf('-')+1, doc_horario[3].length));
                        $('#id_Viernes_Inicio').val(doc_horario[4].substr(0,doc_horario[4].indexOf('-')));
                        $('#id_Viernes_Fin').val(doc_horario[4].substr(doc_horario[4].indexOf('-')+1, doc_horario[4].length));
                        $('#id_Sabado_Inicio').val(doc_horario[5].substr(0,doc_horario[5].indexOf('-')));
                        $('#id_Sabado_Fin').val(doc_horario[5].substr(doc_horario[5].indexOf('-')+1, doc_horario[5].length));
                        $('#id_Domingo_Inicio').val(doc_horario[6].substr(0,doc_horario[6].indexOf('-')));
                        $('#id_Domingo_Fin').val(doc_horario[6].substr(doc_horario[6].indexOf('-')+1, doc_horario[6].length));

                    }
                    else
                    {
                        exists= false;
                    }
                }
            });
    </script>
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker();
            $('.timepicker').timepicker({
                timeFormat: 'h:mm p',
                interval:30,
                minTime:'9',
                maxTime:'18',
                dropdown: true,
                scrollbar: true,
                dynamic: false
            });
        });
    </script>
    <script>
        function GuardarHorario() {
            usuario = "{{ usuario }}";
            grupo = "{{ grupo }}";
            lunes = $('#id_Lunes_Inicio').val() + "-" + $('#id_Lunes_Fin').val();
            martes = $('#id_Martes_Inicio').val() + "-" + $('#id_Martes_Fin').val();
            miercoles = $('#id_Miercoles_Inicio').val() + "-" + $('#id_Miercoles_Fin').val();
            jueves = $('#id_Jueves_Inicio').val() + "-" + $('#id_Jueves_Fin').val();
            viernes = $('#id_Viernes_Inicio').val() + "-" + $('#id_Viernes_Fin').val();
            sabado = $('#id_Sabado_Inicio').val() + "-" + $('#id_Sabado_Fin').val();
            domingo = $('#id_Domingo_Inicio').val() + "-" + $('#id_Domingo_Fin').val();
            $.ajax({  //Call ajax function sending the option loaded
                        url: "search_ajax/",  //This is the url of the ajax view where you make the search
                        type: 'POST',
                        dataType: "json",
                        data: {
                            usuario: usuario,
                            grupo: grupo,
                            lunes: lunes,
                            martes: martes,
                            miercoles: miercoles,
                            jueves: jueves,
                            viernes: viernes,
                            sabado: sabado,
                            domingo: domingo,
                            exists: exists,
                            tag: "addhorario"
                        },
                        success: function (response) {
                            alert('Horario Actualizado')
                        }
                    });
        }
    </script>
{% endblock %}