{% extends basehtml %}
{% block head %}
    <title>Agregar Tipo Cambio</title>
{% endblock %}
{% block body %}
    {{ form.as_p }}
    <button class="btn btn-info" element onclick="AgregarTipoCambio()">Agregar Tipo Cambio</button>
    <a href="/register/home" class="btn btn-danger">Cancelar</a>
{% endblock %}
{% block scripts %}
    <script>
    function AgregarTipoCambio() {
        tipocambio = $('#id_Tipo_Cambio').val();
        if(parseFloat(tipocambio)) {
            $.ajax({  //Call ajax function sending the option loaded
                url: "search_ajax/",  //This is the url of the ajax view where you make the search
                type: 'POST',
                dataType: "json",
                data: {tipocambio: tipocambio, tag: "addtipocambio"},
                success: function (response) {
                    alert('Tipo de cambio agregado')
                    window.location.href='/register/home'
                }
            });
        }
        else
        {
            alert('Ingrese un valor válido');
        }
    }
    </script>
{% endblock %}
