<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
	<!-- BOOTSTRAP STYLES-->
    <link href={% static 'assets/css/bootstrap.css' %} rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href={% static 'assets/css/font-awesome.css' %} rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href={% static 'assets/css/custom.css' %} rel="stylesheet" />
     <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- Datepicker-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% block head %}
    {% endblock %}
    </head>
<body>

    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/register/home"><i class="fa fa-square-o "></i>Consultorio Dental Sonrisa Colgate</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/nueva_cita">Nueva Cita</a></li>
                        <li><a href="/logout">Cerrar Sesion</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center user-image-back">
                        <img src={% static 'assets/img/find_user.png' %} class="img-responsive" />
                    </li>


                    <li>
                        <a href='/register/home'><i class="fa fa-desktop "></i>Inicio</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit "></i>Citas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/todas_citas">Todas las citas</a>
                            </li>
                            <li>
                                <a href="/citas_confirmar">Citas por confirmar</a>
                            </li>
                            <li>
                                <a href="/nueva_cita">Cita Nueva</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href='/pacientes'><i class="fa fa-table "></i>Pacientes</a>
                    </li>
                    <li>
                        <a href='/tratamientos'><i class="fa fa-table "></i>Tratamientos</a>
                    </li>
                    <li>
                        <a href='/update_user_info'><i class="fa fa-edit "></i>Mis Datos</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Consultorio</h2>
                    </div>
                </div>
                  <hr />

              {% block body %}
    {% endblock %}
    </div>
            </div>
        </div>
    <script src={% static 'assets/js/jquery-1.10.2.js' %}></script>
    <script src={% static 'assets/js/bootstrap.min.js' %}></script>
    <script src={% static 'assets/js/jquery.metisMenu.js' %}></script>
    <script src={% static 'assets/js/custom.js' %}></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    {% block scripts %}
    {% endblock %}

</body>
</html>
