{% extends basehtml %}
{% block head %}
    <title>Agendar Cita</title>
{% endblock %}
{% block body %}
    <h1>Agendar Nueva Cita</h1>
    <h3>Llenar todos los campos solicitados</h3>
    {{ form.as_p }}
    <button class="btn btn-info" element onclick="AddAppointment()">Agendar Cita</button>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker();
            $('.timepicker').timepicker({
                timeFormat: 'h:mm p',
                interval:30,
                minTime:'9',
                maxTime:'18',
                dropdown: true,
                scrollbar: true,
                dynamic: false
            });
        });
    </script>
    <script>
        function AddAppointment(){
            detalle = $('#id_Detalle').val();
            fecha = $('#id_Fecha').val() + " " + $('#id_Hora').val();
            alert(fecha);
            grupo = "{{ grupo }}";
            if(detalle != "" && $('#id_Fecha').val() != "" && $('#id_Hora').val() != "" ) {
                if (grupo == "Doctores") {
                    doctor = "{{ usuario }}";
                    paciente = $('#id_Pacientes').val();
                }
                else if (grupo== "Paciente")
                {
                    doctor = $('#id_Doctores').val();
                    paciente = "{{ usuario }}"
                }
                    $.ajax({  //Call ajax function sending the option loaded
                        url: "search_ajax/",  //This is the url of the ajax view where you make the search
                        type: 'POST',
                        dataType: "json",
                        data: {
                            doctor: doctor,
                            paciente: paciente,
                            detalle: detalle,
                            fecha: fecha,
                            grupo: grupo,
                            tag: "addcita"
                        },
                        success: function (response) {
                            alert('Cita Agendada')
                        }
                    });
            }
            else
            {
                alert('Complete todos los campos')
            }
        }
    </script>
{% endblock %}