{% extends basehtml %}
{% block head %}
    <title>Grupos de Usuarios</title>
{% endblock %}
{% block body %}
    <h1>Agregar Usuarios a Grupos</h1>
    {{ form.as_p }}
    <button class="btn btn-info" element onclick="AddUserGroup()">Agregar Usuario a Grupo</button>
    <a href='/home' class="btn btn-danger">Cancelar</a>
{% endblock %}
{% block scripts %}
    <script>
        function AddUserGroup(){
            usuario = $('#id_Usuarios').val()
            grupo = $('#id_Grupos').val()

            $.ajax({  //Call ajax function sending the option loaded
                url: "search_ajax/",  //This is the url of the ajax view where you make the search
                type: 'POST',
                dataType: "json",
                data: {
                    usuario: usuario,
                    grupo: grupo,
                    tag: "usergroup"
                },
                success: function (response) {
                    alert('Usuario Agregado Exitosamente')
                }
            });
        }
    </script>
{% endblock %}